.container {
    max-width: 1000px;
}

caption {
  padding-bottom: 10px
}

#abstract p code {
	font-family: monospace;
	font-size: 16px;
	padding: 2px 4px 1px;
	background: #e4e4e4;
	border-radius: 5px;
}

#description code {
	font-family: monospace;
	font-size: 14px;
	padding: 1px 4px 0px;
	background: #e4e4e4;
	border-radius: 5px;
}